<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Site title</title>
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Site title">
    <meta name="description" content="Site description">
    <meta property="og:title" content="Site title">
    <meta property="og:description" content="Site description">
    <meta property="og:type" content="website">
    <meta property="og:url" content="Site URL">
    <meta property="og:image" content="LOGO/IMG">
    <link rel="icon" type="image/png" href="src/img/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="src/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="src/fonts/HelveticaNeue/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="src/fonts/icofont/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="src/fonts/remixicon/remixicon.css">
    <link rel="stylesheet" type="text/css" href="src/css/slick.css">
    <link rel="stylesheet" type="text/css" href="src/css/milligram.responsive-grid.css">
    <link rel="stylesheet" type="text/css" href="src/css/inputmask.css">
    <link rel="stylesheet" type="text/css" href="src/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="src/css/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/style.css">
    <script src="src/js/vanilla.js"></script>
    <script src="src/js/jquery.min.js"></script>
    <script src="src/js/slick.min.js"></script>
    <script src="src/js/jquery.inputmask.bundle.js"></script>
    <script src="src/js/jquery.mCustomScrollbar.js"></script>
    <script src="src/js/jquery.fancybox.min.js"></script>
    <script src="src/js/bodyScrollLock.min.js"></script>
    <script src="src/js/jquery.hideseek.min.js"></script>
    <script src="src/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="src/js/vue-launcher.js"></script>
  </head>
  <body data-preloader="">
    <div class="allContent">
      <header>
        <div class="top-container">
          <div>
            <div class="container">
              <div class="row">
                <div class="column column-66"><a data-fancybox="" data-src="#citySelect" href="javascript:;" data-touch="false">
                    <div class="image"><img src="src/img/static/plane.svg" alt="plane"></div><span>Санкт-Петербург</span></a><a href="#">
                    <div class="image"><img src="src/img/static/zoom (1).svg" alt="zoom"></div><span>Версия для слабовидящих </span></a><a href="#">
                    <div class="image"><img src="src/img/static/print (1).svg" alt="print"></div><span>Распечатать страницу</span></a></div>
                <div class="column column-33"><a href="tel:88005506774">
                    <div class="image"><img src="src/img/static/phone (1).svg" alt="phone"></div>
                    <p>8&nbsp;800&nbsp;550&nbsp;67&nbsp;74<span>&nbsp;(Круглосуточно)</span></p></a></div>
              </div>
            </div>
          </div>
          <div class="header">
            <div class="container">
              <div class="row row-responsive">
                <div class="column column-md-25 column-sm-25 column-xs-50"><a class="logo" href="/"><img src="src/img/static/LOGO.png" alt="logo"></a></div>
                <div class="column column-md-70 column-sm-70 column-xs-50">
                  <nav class="desktop">
                    <ul>
                      <li><a href="#"><i class="ri-map-pin-2-line"></i><span>Офисы и пункты выдачи</span></a></li>
                      <li><a href="#"><i class="ri-user-line"></i><span>Ваш филиал</span></a></li>
                      <li><a class="search" href="#" onclick="switchSearch()"><i class="ri-search-line"></i><span>Поиск</span></a></li>
                    </ul>
                  </nav>
                  <nav class="mobile">
                    <ul>
                      <li><a class="search" href="#" onclick="switchSearch()"><i class="ri-search-line"></i></a></li>
                      <li><a class="burger" href="#"><i class="ri-menu-line"></i><i class="ri-close-fill"></i></a></li>
                    </ul>
                  </nav>
                </div>
                <div class="column column-md-25 column-sm-25 column-xs-100"><a class="btn btn-red" href="#">Заявка на полис ОМС</a></div>
              </div>
            </div>
          </div>
          <div class="search-wrapper">
            <div class="cross" onclick="switchSearch()">&times;</div>
            <div class="container">
              <div class="row">
                <div class="column column-25 no-mob">
                  <div class="menu">
                    <div class="item active">Все результаты</div>
                    <div class="item">Страховые продукты</div>
                    <div class="item">Новости и события</div>
                  </div>
                </div>
                <div class="column column-md-75 column-sm-75 column-xs-100">
                  <p class="title">Результаты поиска</p>
                  <div class="input-wrap search-input">
                    <div class="button-search"> <span>Поиск</span><span class="arr">&#8594;</span></div>
                    <input id="search_inpuut" type="text" placeholder="Поиск">
                  </div>
                  <div class="total">
                    <p>По запросу "Инвестиции" найдено 3678 ответов</p>
                  </div>
                  <div class="results">
                    <div class="result">
                      <div class="top">Test</div>
                      <div class="name">Te<b>st</b></div>
                      <div class="description">Test ba<b>ck</b>ground</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа описание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа описание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа описание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа &lt;b&gt;опи&lt;/b&gt;сание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа &lt;b&gt;опи&lt;/b&gt;сание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа &lt;b&gt;опи&lt;/b&gt;сание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа &lt;b&gt;опи&lt;/b&gt;сание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа &lt;b&gt;опи&lt;/b&gt;сание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                    <div class="result">
                      <div class="top">Документы</div>
                      <div class="name">Инвестиционное страхование жизни</div>
                      <div class="description">Описание ответа &lt;b&gt;опи&lt;/b&gt;сание ответа описание ответа описание ответа описание ответа описание ответа описание ответа...</div>
                    </div>
                  </div>
                  <div class="pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container fromHeaderMenu">
          <ul class="headerMenu">
            <li><a href="javascript:;"><span>Полис ОМС&nbsp;</span><i class="ri-arrow-down-s-line"></i></a>
              <div class="submenu">
                <ul>
                  <li><a href="#">Заявка на полис ОМС</a></li>
                  <li><a href="#">Документы для оформления полиса</a></li>
                  <li><a href="#">Пункты выдачи полисов</a></li>
                  <li><a href="#">Доставка полиса ОМС</a></li>
                  <li><a href="#">Виды полисов ОМС</a></li>
                  <li><a href="#">Юридическим лицам</a></li>
                </ul>
              </div>
            </li>
            <li><a href="javascript:;"><span>Система ОМС&nbsp;</span><i class="ri-arrow-down-s-line"></i></a>
              <div class="submenu">
                <ul>
                  <li><a href="#">Что такое Система ОМС</a></li>
                  <li><a href="#">Дайджест новостей системы ОМС</a></li>
                  <li><a href="#">Участие компании в развитии системы ОМС</a></li>
                  <li><a href="#">Виды, качество и условия медицинской помощи</a></li>
                  <li><a href="#">Что бесплатно по полису ОМС</a></li>
                  <li><a href="#">Как выбрать страховую компанию ОМС</a></li>
                  <li><a href="#">Как выбрать медицинскую организацию</a></li>
                  <li><a href="#">Информация о медицинских организациях</a></li>
                  <li><a href="#">Информация о Фонде ОМС</a></li>
                  <li><a href="#">Нормативные документы</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#"><span>Диспансеризация</span></a></li>
            <li><a href="javascript:;"><span>Защита прав&nbsp;</span><i class="ri-arrow-down-s-line"></i></a>
              <div class="submenu">
                <ul>
                  <li><a href="#">Ваш страховой представитель</a></li>
                  <li><a href="#">Подать жалобу</a></li>
                  <li><a href="#">Выявленные нарушения по обращениям застрахованных лиц</a></li>
                  <li><a href="#">Контакт-центр</a></li>
                  <li><a href="#">Полезные ресурсы</a></li>
                </ul>
              </div>
            </li>
            <li><a href="javascript:;"><span>О компании&nbsp;</span><i class="ri-arrow-down-s-line"></i></a>
              <div class="submenu">
                <ul>
                  <li><a href="#">О компании</a></li>
                  <li><a href="#">Пресс центр</a></li>
                  <li><a href="#">Научно практическая деятельность</a></li>
                  <li><a href="#">Участие компании в развитии системы ОМС</a></li>
                  <li><a href="#">Проекты компании</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Раскрытие информации</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#"><span>Школа пациента</span></a></li>
          </ul>
          <ul class="mobileBottom">
            <li><a href="#"><i class="ri-map-pin-2-line"></i><span>Офисы и пункты выдачи</span></a></li>
            <li><a href="#"><i class="ri-user-line"></i><span>Ваш филиал</span></a></li>
          </ul>
        </div>
      </header>
      <div class="citySelect" id="citySelect">
        <div class="container">
          <h3 class="citySelect__title">Выберете ваш регион</h3>
          <div class="citiesBlock">
            <ul class="cities">
              <li><a class="ex red" href="#">
                  <p>Город Москва</p></a></li>
              <li><a href="#">
                  <p>Курганская область</p></a></li>
              <li><a href="#">
                  <p>Республика Северная Осетия - Алания</p></a></li>
              <li><a href="#">
                  <p>Московская область</p></a></li>
              <li><a href="#">
                  <p>Липецкая область</p></a></li>
              <li><a href="#">
                  <p>Республика Тыва</p></a></li>
              <li><a href="#">
                  <p>Город Санкт-Петербург</p></a></li>
              <li><a href="#">
                  <p>Ненецкий автономный округ</p></a></li>
              <li><a href="#">
                  <p>Ростовская область</p></a></li>
              <li><a href="#">
                  <p>Ленинградская область</p></a></li>
              <li><a href="#">
                  <p>Нижегородская область</p></a></li>
              <li><a href="#">
                  <p>Рязанская область</p></a></li>
              <li><a href="#">
                  <p>Алтайский край</p></a></li>
              <li><a href="#">
                  <p>Омская область</p></a></li>
              <li><a href="#">
                  <p>Саратовская область</p></a></li>
              <li><a href="#">
                  <p>Архангельская область</p></a></li>
              <li><a href="#">
                  <p>Оренбургская область</p></a></li>
              <li><a href="#">
                  <p>Смоленская область</p></a></li>
              <li><a href="#">
                  <p>Владимирская область</p></a></li>
              <li><a href="#">
                  <p>Пензенская область</p></a></li>
              <li><a href="#">
                  <p>Тверская область</p></a></li>
              <li><a href="#">
                  <p>Волгоградская область</p></a></li>
              <li><a href="#">
                  <p>Пермский край</p></a></li>
              <li><a href="#">
                  <p>Тульская область</p></a></li>
              <li><a href="#">
                  <p>Еврейская автономная область</p></a></li>
              <li><a href="#">
                  <p>Республика Алтай</p></a></li>
              <li><a href="#">
                  <p>Тюменская область</p></a></li>
              <li><a href="#">
                  <p>Кабардино-Балкарская республика</p></a></li>
              <li><a href="#">
                  <p>Республика Башкортостан</p></a></li>
              <li><a href="#">
                  <p>Удмуртская республика</p></a></li>
              <li><a href="#">
                  <p>Калининградская область</p></a></li>
              <li><a href="#">
                  <p>Республика Бурятия</p></a></li>
              <li><a href="#">
                  <p>Ульяновская область</p></a></li>
              <li><a href="#">
                  <p>Кировская область</p></a></li>
              <li><a href="#">
                  <p>Республика Коми</p></a></li>
              <li><a href="#">
                  <p>Ханты-Мансийский автономный округ - Югра</p></a></li>
              <li><a href="#">
                  <p>Костромская область</p></a></li>
              <li><a href="#">
                  <p>Республика Мордовия</p></a></li>
              <li><a href="#">
                  <p>Ярославская область</p></a></li>
              <li><a href="#">
                  <p>Краснодарский край</p></a></li>
              <li><a href="#">
                  <p>Республика Саха (Якутия)</p></a></li>
            </ul>
          </div>
          <form class="search">
            <input type="search" data-list=".citiesBlock ul" autocomplete="off" placeholder="Введите название региона">
            <input class="btn btn-red" type="submit" value="Найти">
          </form>
        </div>
      </div>
      <div class="fixbtn">
        <div class="links"><a href="#"><span>Подать жалобу</span></a><a href="#"><span>Заказать звонок</span></a><a href="#"><span>Задать вопрос</span></a></div><i class="close"></i>
        <div class="open"></div>
      </div>
      <div class="breadcrumbs">
        <div class="container">
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="javascript:void(0);">Филиалы </a></li>
          </ul>
        </div>
      </div>
      <div class="content-container">
        <div class="container">
          <div class="row row-responsive">
            <div class="column column-25">
              <nav class="content_list">
                <ul>
                  <li><a class="slow active" href="#">О нас</a></li>
                </ul>
              </nav>
            </div>
            <div class="column column-md-75 column-sm-75 column-xs-100">
              <section class="page-title">
                <h1>О компании</h1>
              </section>
              <div class="gray-text">ООО «Капитал МС» накоплен большой опыт успешной работы в сфере обязательного медицинского страхования. Мы осуществляем свою деятельность начиная с 1994 года.</div>
              <div class="videoItem"><a class="videoPoster" href="javascript:;" data-fancybox="" data-src="https://mbrm.ru/upload/medialibrary/ff0/ff018b3446ca7ab8b05a9d674e0b5cce.mp4" data-touch="false"><i class="play ri-play-circle-fill"></i><img class="poster" src="src/img/static/images.png" alt="Видеоролик с описанием"></a>
                <div class="content">
                  <h6 class="content__text">Видеоролик с описанием</h6>
                </div>
              </div>
              <div class="video-wrap"></div>
              <section class="page-title">
                <h2>Деятельность компании в цифрах</h2>
              </section>
              <div class="activity-wrap">
                <div class="activity fullwidth">
                  <div class="img-wrap"><img src="src/img/static/activity-01.svg"></div>
                  <div class="text">
                    <div class="title">Работаем с 1994 года</div>
                    <div class="desc">ООО «Капитал МС» накоплен большой опыт успешной работы в сфере ОМС. Мы осуществляем свою деятельность начиная с 1994 года — тогда еще в структуре СК РОСГОССТРАХ, с 2002 года уже как отдельная компания. Обратите внимание: мы переименовались.</div>
                  </div>
                </div>
                <div class="activity fullwidth">
                  <div class="img-wrap"><img src="src/img/static/activity-02.svg"></div>
                  <div class="text">
                    <div class="title">Более 22 млн. застрахованных</div>
                    <div class="desc">Каждый 7-й гражданин России доверяет нам защиту своих законных прав и интересов в сфере ОМС. На 01.01.2019 общая численность застрахованных граждан составила – 22 153 240 человек. На 01.05.2020 общая численность застрахованных граждан по ОМС составляет – 22 134 323 человек.</div>
                  </div>
                </div>
                <div class="activity fullwidth">
                  <div class="img-wrap"><img src="src/img/static/activity-03.svg"></div>
                  <div class="text">
                    <div class="title">Более 1000 представительств</div>
                    <div class="desc">Круглосуточный федеральный и региональные Контакт-центры в каждом регионе нашего присутствия позволят оперативно получить консультативную помощь для решения вопросов получения медицинской помощи любой сложности, а в случае нарушения Ваших прав – зафиксировать жалобу и принять соответствующие меры.</div>
                  </div>
                </div>
                <div class="activity fullwidth">
                  <div class="img-wrap"><img src="src/img/static/activity-04.svg"></div>
                  <div class="text">
                    <div class="title">Работаем в 42 регионах</div>
                    <div class="desc">Мы работаем с застрахованными лицами на территории 42 субъектов Российской Федерации от Калининграда до Хабаровска. Открыто более 1000 страховых представительств нашей Компании.</div>
                  </div>
                </div>
                <div class="activity fullwidth">
                  <div class="img-wrap"><img src="src/img/static/activity-05.svg"></div>
                  <div class="text">
                    <div class="title">Более 1750 врачей-экспертов</div>
                    <div class="desc">Контролем качества медицинской помощи занимаются более 380 штатных и 1500 внештатных врачей-экспертов. Из 1471 обоснованных жалоб, зарегистрированных за 9 месяцев 2017 года, 337 жалобы разрешены в досудебном порядке с материальным возмещением на сумму 2,25 млн. рублей и 1,42 млн. рублей, в том числе 1,21 млн. рублей в качестве морального вреда, в судебном порядке в пользу наших застрахованных.</div>
                  </div>
                </div>
              </div>
              <section class="page-title">
                <h2>Приоритетные задачи компании</h2>
              </section>
              <ul class="content v2">
                <li class="content__item">Защита Ваших прав при получении медицинской помощи по полису ОМС</li>
                <li class="content__item">Индивидуальное информационное сопровождение</li>
                <li class="content__item">Повышение уровня доступности и качества медицинской помощи</li>
              </ul>
              <div class="activity-wrap">
                <section class="page-title smallh2">
                  <h2>Наша команда</h2>
                </section>
                <div class="activity fullwidth moreinfo">
                  <div class="text">
                    <div class="desc">Мы работаем с застрахованными лицами на территории 42 субъектов Российской Федерации от Калининграда до Хабаровска. Открыто более 1000 страховых представительств нашей Компании.</div><a class="redbutton" href="#">Узнать подробнее</a>
                  </div>
                </div>
                <section class="page-title smallh2">
                  <h2>Участие в развитии системы ОМС</h2>
                </section>
                <div class="activity fullwidth moreinfo">
                  <div class="text">
                    <div class="desc">ООО «Капитал МС» принадлежит к числу участников системы обязательного медицинского страхования (ОМС) наряду с ФФОМС (федеральным фондом ОМС), ТФОМС (территориальными фондами ОМС), лечебными учреждениями.</div><a class="redbutton" href="#">Узнать подробнее</a>
                  </div>
                </div>
                <section class="page-title smallh2">
                  <h2>Раскрытие информации</h2>
                </section>
                <div class="activity fullwidth moreinfo">
                  <div class="text">
                    <div class="desc">Общество с ограниченной ответственностью «Капитал МС» (ООО «Капитал МС»). Зарегистрировано Регистрационной палатой Санкт-Петербурга 27.06.2002 г. Свидетельство No189112</div><a class="redbutton" href="#">Узнать подробнее</a>
                  </div>
                </div>
              </div>
              <section class="page-title smallh2">
                <h2>Телефоны круглосуточных контакт-центров</h2>
              </section>
              <div class="activity-wrap">
                <div class="activity phones"><a href="tel:88005553535"></a>
                  <div class="img-wrap"><img src="src/img/static/activity-phone.svg"></div>
                  <div class="phone-title">Федеральный номер</div>
                  <div class="phone">
                    <div class="number">8-800-555-35-35</div>
                    <div class="desc">Звонок бесплатный</div>
                  </div>
                </div>
                <div class="activity phones"><a href="tel:88005553535"></a>
                  <div class="img-wrap"><img src="src/img/static/activity-phone.svg"></div>
                  <div class="phone-title">В Санкт-Петербурге</div>
                  <div class="phone">
                    <div class="number">8-800-555-35-35</div>
                    <div class="desc">Звонок бесплатный</div>
                  </div>
                </div>
              </div>
              <div class="slider-root withmrg" id="vue-root">
                <section class="page-title smallh2">
                  <h2>Благодарности</h2>
                </section>
                <div class="tabs" id="TABS"><a class="tab active" href="javascript:;">Оформить полис</a><a class="tab" href="javascript:;">Профилактика</a><a class="tab" href="javascript:;">Школа пациента</a><a class="tab" href="javascript:;">Помощь</a>
                </div>
                <div class="slider-wrap" :style="{width: `${content_container}px`}">
                  <div class="slider-slides thanks" :style="{width: `${getSize()}px`, transform: `translateX(${getTranslate()}px)`}">
                    <div class="slide-slides" v-for="item, idx in slides" :style="{width: `${width}px`}"><a href="https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg" data-fancybox="">
                        <div class="image" :style="{backgroundImage: `url(${item.image})`}"></div>
                        <div class="date">{{item.date}}</div>
                        <div class="name">{{item.name}}</div></a></div>
                  </div>
                </div>
                <div class="slider-arrows-pos">
                  <div class="sliderNav">
                    <div class="prev slick-arrow" @click="switchSlide(-1)" :class="{'locked': active_idx &lt; 1}"><i class="ri-arrow-left-s-line"></i></div>
                    <div class="next slick-arrow" @click="switchSlide(1)" :class="{'locked': active_idx &gt;= slides.length - 1}"><i class="ri-arrow-right-s-line"></i></div>
                  </div>
                </div>
              </div>
              <div class="slider slider-root withmrg" id="vue-root2">
                <div class="container">
                  <div class="sectionTitle">
                    <div class="sectionTitle__top">
                      <h3 class="sectionTitle__title">Отзывы о диспансеризации</h3>
                    </div>
                  </div>
                </div>
                <div class="slider-wrap" :style="{width: `${content_container}px`}">
                  <div class="slider-slides thanks" :style="{width: `${getSize()}px`, transform: `translateX(${getTranslate()}px)`}">
                    <div class="slide-slides active reviewContainer" v-for="item, idx in slides" :style="{width: `${width}px`}">
                      <div class="review">
                        <h5> <span class="name">{{item.name}}</span>,&nbsp;<span class="yars">{{item.year}}</span>&nbsp;лет</h5>
                        <p class="location">{{item.location}}</p>
                        <div class="stars static" :class="item.class"></div>
                        <p class="text">{{item.text}}</p><a class="red" href="javascript:;">
                          <p>Показать отзыв полностью</p>
                          <p>Свернуть</p></a>
                        <p class="postDate">{{item.date}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-arrows-pos">
                  <div class="sliderNav">
                    <div class="prev slick-arrow" @click="switchSlide(-1)" :class="{'locked': active_idx &lt; 1}"><i class="ri-arrow-left-s-line"></i></div>
                    <div class="next slick-arrow" @click="switchSlide(1)" :class="{'locked': active_idx &gt;= slides.length - 1}"><i class="ri-arrow-right-s-line"></i></div>
                  </div>
                </div>
              </div>
              <script>
                let data = [
                  {
                    date: 'г. Санкт-Петербург, 2018',
                    name: 'Название. Рыбный текст. Небходимо заменить.',
                    href: '#',
                    image: 'https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg'
                  },
                  {
                    date: 'г. Санкт-Петербург, 2018',
                    name: 'Название. Рыбный текст. Небходимо заменить.',
                    href: '#',
                    image: 'https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg'
                  },
                  {
                    date: 'г. Санкт-Петербург, 2018',
                    name: 'Название. Рыбный текст. Небходимо заменить.',
                    href: '#',
                    image: 'https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg'
                  },
                  {
                    date: 'г. Санкт-Петербург, 2018',
                    name: 'Название. Рыбный текст. Небходимо заменить.',
                    href: '#',
                    image: 'https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg'
                  },
                  {
                    date: 'г. Санкт-Петербург, 2018',
                    name: 'Название. Рыбный текст. Небходимо заменить.',
                    href: '#',
                    image: 'https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg'
                  },
                  {
                    date: 'г. Санкт-Петербург, 2018',
                    name: 'Название. Рыбный текст. Небходимо заменить.',
                    href: '#',
                    image: 'https://bnetcmsus-a.akamaihd.net/cms/template_resource/GWVKTO8D3V0F1579050179253.jpg'
                  }
                ]
                let data2 = [
                    {
                      name: 'Иванова Мария',
                      year: '50',
                      location: 'Поликлиника №20, Москва',
                      class: 'star-60',
                      text: 'Диспансеризация — это медицинский осмотр, направленный на выявление хронических неинфекционных заболеваний, а также риска их развития. Диспансеризация предусматривает осмотр у взрослых и детей до 18 лет.',
                      date: '15 мая 2020 г.'
                    },
                    {
                      name: 'Иванова Мария',
                      year: '40',
                      location: 'Поликлиника №20, Москва',
                      class: 'star-40',
                      text: 'Диспансеризация — это медицинский осмотр, направленный на выявление хронических неинфекционных заболеваний, а также риска их развития. Диспансеризация предусматривает осмотр у взрослых и детей до 18 лет.',
                      date: '15 мая 2022 г.'
                    },
                    {
                      name: 'Иванова Мария',
                      year: '36',
                      location: 'Поликлиника №20, Москва',
                      class: 'star-60',
                      text: 'Диспансеризация — это медицинский осмотр, направленный на выявление хронических неинфекционных заболеваний, а также риска их развития. Диспансеризация предусматривает осмотр у взрослых и детей до 18 лет.',
                      date: '15 мая 2010 г.'
                    },
                    {
                      name: 'Иванова Мария',
                      year: '22',
                      location: 'Поликлиника №20, Москва',
                      class: 'star-20',
                      text: 'Диспансеризация — это медицинский осмотр, направленный на выявление хронических неинфекционных заболеваний, а также риска их развития. Диспансеризация предусматривает осмотр у взрослых и детей до 18 лет.',
                      date: '15 мая 1920 г.'
                    },
                    {
                      name: 'Иванова Мария',
                      year: '66',
                      location: 'Поликлиника №20, Москва',
                      class: 'star-100',
                      text: 'Диспансеризация — это медицинский осмотр, направленный на выявление хронических неинфекционных заболеваний, а также риска их развития. Диспансеризация предусматривает осмотр у взрослых и детей до 18 лет.',
                      date: '15 августа 2020 г.'
                    }
                  ]
                let root = '#vue-root'
                let root2 = '#vue-root2'
                let width = 232
                let width2 = 540
                vueSliderLauncher(root, data, width)
                vueSliderLauncher(root2, data2, width2)
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>